.site-card-wrapper{
display: flex;
flex-wrap: wrap ;
margin:70px;
justify-content: center;
}

.card1{
margin: 30px;
border-radius: 10px;
border-color:burlywood;


}
.detayYazı{
position: relative;
bottom:60px;
padding-left: 90px;
padding-right: 90px;
}
.detayBaslık{
 color: blue;
 font-weight: bold;
 text-align: center;
}

.navbar {
background-color:rgb(7, 11, 16);
}

.login{
    width: 35%;
    position: relative;
    left:30%; 
    padding-top: 10%;
   
}
    
   

